LOGS/
venv/
tex/
#datasets/sliding_windows_long_kaggle_sessions.json

#adapters/gemma-3-12b-2k/adapter_model.safetensors

#adapters/gemma-3-12b/adapter_model.safetensors

#adapters/gemma-3-4b/adapter_model.safetensors

#adapters/gemma-3-4b-pt/adapter_model.safetensors
