[honeypot]
# Hostname displayed in shell prompt
hostname = unibo-lab4

# Timezone for logging (Italy)
timezone = Europe/Rome

# Log directory
log_path = var/log/cowrie

# State directory (tty logs, keys, downloads)
state_path = var/lib/cowrie

# Data directory (fs.pickle lives here)
data_path = src/cowrie/data

# Auth: the attacker randomly tries from 2 to 10 
auth_class = AuthRandom
auth_class_parameters = 2, 10, 50

[shell]
# Points to pickle file
filesystem = src/cowrie/data/fs.pickle

# Architecture and OS details (customize as needed)
arch = x86_64
kernel_version = 5.4.0-150-generic
operating_system = GNU/Linux
env = {"LANG": "it_IT.UTF-8"}

[ssh]
# SSH server details
enabled = true
version = SSH-2.0-OpenSSH_8.2p1 Ubuntu-4ubuntu0.2
listen_endpoints = tcp:2222:interface=0.0.0.0

[output_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json

[output_textlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.log

